

/*PRIMER DIV: PORTADA//////////////////////////////////////////////////////////////////*/
#portada{
    text-align: center;
    margin: auto;
    padding: 1.00em;
    width: 890px;
    height: 900px;
    background-color: #065471;
	background: linear-gradient(to bottom right,#464660 ,#430D27 );
    color: white;
    border-radius: 13px;
	box-shadow: 10px 10px 5px grey;
}

#portada_1{
    text-align: center;
    margin: auto;
    padding: 1.00em;
    width: 890px;
    height: auto;
    background-color: white;
	background: linear-gradient(to bottom right,#464660 ,#430D27 );
    color: white;
    border-radius: 13px;
	box-shadow: 10px 10px 5px grey;
}


#j18{
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
}
#opens{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    margin-top: 1px;
    margin-bottom: 1px;
}

#j28{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    letter-spacing: 5px;
}

/*Apartado de navegacion*/
ul#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: arial;
  font-size: 14px;
}

#nav > li {
  float: left; 	
}

#nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #1F4F46;
}
.seleccionada,
.seleccionada:hover {
  background-color: #1F4F46;
  cursor: pointer;
}

/* apartado de integrantes */
table{
    width: 80%;
    color: black;
    
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

th, td{
    padding: 10px;
    border:1px double;
}
/*tipo de letra parrafos*/
p, .tipo{
font-family: arial;
}
/*bottom*/
.ir-arriba{
  display: none;
  padding: 20px;
  background: white;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 30px;
}
ul .lista1{
    font-family: arial;
}
/*practica 2*/
#boton_uno{
	background-color: #555555;
	font-size: 16px;
	border-radius: 5px;
	border: 2px solid #002366;
	color:white;
	transition-duration: 0.4s;
	cursor: pointer;
	width:60px;height:23px
}
#boton_uno:hover {
    background-color: #B5A2AD;
    color: white;
}

#boton_dos{
	background-color: #555555;
	font-size: 16px;
	border-radius: 5px;
	border: 2px solid #002366;
	color:white;
	transition-duration: 0.4s;
	cursor: pointer;
	width:60px;height:23px
}
#boton_dos:hover {
    background-color: #B5A2AD;
    color: white;
}
#boton_tres{
	background-color: #555555;
	font-size: 16px;
	border-radius: 5px;
	border: 2px solid #002366;
	color:white;
	transition-duration: 0.4s;
	cursor: pointer;
		width:60px;height:23px
}
#boton_tres:hover {
    background-color: #B5A2AD;
    color: white;
}
#boton_cuatro{
	background-color: #555555;
	font-size: 16px;
	border-radius: 5px;
	border: 2px solid #002366;
	color:white;
	transition-duration: 0.4s;
	cursor: pointer;
	width:60px;height:23px
}
#boton_cuatro:hover {
    background-color: #B5A2AD;
    color: white;
}


